:root > * {
  --md-default-fg-color: #000000;  /* rather than #000000de;*/
  --md-primary-fg-color: #4e1388;
  --md-accent-fg-color: #4e1388;
  --uproot-highlight-color: var(--md-primary-fg-color);
  --md-kbd-bg-color: var(--md-primary-fg-color);
  --md-code-fg-color: var(--md-typeset-color);  /* same color as body text */
}

[data-md-color-scheme="slate"] {
  --md-accent-fg-color: #c598f1;
  --md-default-fg-color: hsla(var(--md-hue), 15%, 90%, 0.9);
  --md-typeset-a-color: #c598f1;
  --uproot-highlight-color: #c598f1;
}

* {
    /* Enable selected features defined in inter.css to improve disambiguation of glyphs */
    font-variant-alternates:
        character-variant(lc-l-with-tail, alt-double-s)
        styleset(open-digits);
    /* Disable contextual alternates, since they may produce unwanted results with Inter (e.g., in “Step 1: ‘Go’” */
    font-feature-settings: "calt" 0;
    /* Settings related to number formatting */
    font-variant-numeric:
        var(--fvn-figure-style,)
        var(--fvn-spacing, proportional-nums)
        var(--fvn-fractions,)
        var(--fvn-zero,)
        var(--fvn-alt,);
}

.md-typeset a:hover{
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}

a.headerlink {
  width: 0px !important;
  font-weight: 300 !important;
}

/* Dial back salience of targeted headerlinks (pilcrow) */
.md-typeset :target>.headerlink {
  opacity: 0.5 !important;
}

body {
  font-family: "Inter", sans-serif !important;
}

code,
kbd,
pre,
samp,
.md-code__content {
  font-family: "Cascadia Mono", monospace !important;
  font-size: 95% !important;
}
kbd {
  padding: 0.0em 0.5em !important;
  background-color: var(--md-default-bg-color) !important;
  color: var(--md-default-fg-color) !important;
  border: 1px solid rgb(from var(--md-default-fg-color) r g b / 25%) !important;
  border-radius: 0.25rem;
  box-shadow: none !important;
  border-width: 1px !important;
  vertical-align: baseline !important;
  white-space: nowrap;
}

details.note {
  background-color: rgb(from var(--uproot-highlight-color) r g b / 6%);
  border: 1px solid var(--uproot-highlight-color) !important;
}
details.note > summary::after {
  color: var(--uproot-highlight-color) !important;
}
details.note > summary::before {
  background-color: var(--uproot-highlight-color) !important;
}

h1 {
  color: var(--uproot-highlight-color) !important;
  font-size: 225% !important;
  font-weight: 600 !important;
  letter-spacing: 0.0025em !important;
  margin-bottom: 1.111em !important;
}
h2 {
  color: var(--uproot-highlight-color) !important;
  font-weight: 700 !important;
  letter-spacing: 0.0075em !important;
}
h3 {
  font-weight: 700 !important;
  letter-spacing: 0.0075em !important;
}
h1 code,
h2 code {
  color: var(--uproot-highlight-color) !important;
  font-size: 95% !important;
}
h3 code {
  color: var(--md-typeset-color) !important;
  font-size: 95% !important;
}

/* Slightly increase font size for admonitions and notes */
.admonition,
.note {
  font-size: 0.7rem !important;
}
/* Style admonitions and notes like callouts */
.admonition,
details.note {
  border-bottom-width: 0px !important;
  border-left-width: 6px !important;
  border-right-width: 0px !important;
  border-top-width: 0px !important;
  border-radius: 0px !important;
  margin-left: 1px !important;  /* With 0px, border looks as if it were protruding into the left margin */
  margin-right: 1px !important;  /* To compensate for the shadow */
}

/* Harmonize border-width across elements */
.md-typeset__table table {
  border-width: 1px !important;
}

/* Harmonize border-radius across elements */
.cards li,
.md-code__content,
.md-button,
.md-typeset__table table {
  border-radius: 5px !important;
}

.card-title-icon {
  float: right;
  padding-top: 0.25em;
}

.md-content__inner {
  padding-top: 0.25em;
}

.md-footer {
  margin-top: 3em;
}

.md-nav__link {
  color: var(--md-default-fg-color--light);
  font-size: smaller;
}
.md-nav__title:not([for="__drawer"]), label.md-nav__link {
  color: var(--uproot-highlight-color) !important;
  font-size: 90% !important;
}

/* Reduce line height of body text sligtly (1.6 originally) */
.md-typeset {
  line-height: 1.5 !important;
}
@media (min-width: 960px) {
  .md-typeset {
    line-height: 1.55 !important;
  }
}

/* Disable increase of font size at 2000px break point */
@media (min-width: 2000px) {
  .md-typeset {
    font-size: 0.7333rem !important;
  }
}

/* Add bottom rule and padding to .tabbed-content for better demarcation */
.tabbed-content {
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  border-bottom: 1px solid var(--md-default-fg-color--lightest);
}

/* Copied from Bootstrap */
.text-nowrap {
  white-space: nowrap !important;
}
.text-wrap {
  white-space: normal !important;
}
