:root > * {
  --md-primary-fg-color: #4e1388;
  --md-accent-fg-color: #4e1388;
  --uproot-highlight-color: var(--md-primary-fg-color);
  --md-kbd-bg-color: var(--md-primary-fg-color);
}

[data-md-color-scheme="slate"] {
  --md-accent-fg-color: #c598f1;
  --md-typeset-a-color: #c598f1;
  --uproot-highlight-color: #c598f1;
}

* {
    /* Enable selected features defined in inter.css to improve disambiguation of glyphs */
    font-variant-alternates:
        character-variant(lc-l-with-tail, alt-double-s)
        styleset(open-digits);
    /* Disable contextual alternates, since they may produce unwanted results with Inter (e.g., in “Step 1: ‘Go’” */
    font-feature-settings: "calt" 0;
    /* Settings related to number formatting */
    font-variant-numeric:
        var(--fvn-figure-style,)
        var(--fvn-spacing, proportional-nums)
        var(--fvn-fractions,)
        var(--fvn-zero,)
        var(--fvn-alt,);
}

body {
  font-family: "Inter", sans-serif !important;
}

code,
kbd,
pre,
samp,
.md-code__content {
  font-family: "Cascadia Mono", monospace !important;
  font-size: 92% !important;
}
kbd {
  padding: 0.0em 0.5em !important;
  background-color: var(--md-default-bg-color) !important;
  color: var(--md-default-fg-color) !important;
  border: 1px solid rgb(from var(--md-default-fg-color) r g b / 25%) !important;
  border-radius: 0.25rem;
  box-shadow: none !important;
  border-width: 1px !important;
  vertical-align: baseline !important;
  white-space: nowrap;
}

details.note {
  background-color: rgb(from var(--uproot-highlight-color) r g b / 6%);
  border: 1px solid var(--uproot-highlight-color) !important;
}
details.note > summary::after {
  color: var(--uproot-highlight-color) !important;
}
details.note > summary::before {
  background-color: var(--uproot-highlight-color) !important;
}

h1 {
  color: var(--uproot-highlight-color) !important;
  font-size: 225% !important;
  font-weight: 600 !important;
  letter-spacing: 0.0025em !important;
  margin-bottom: 1.111em !important;
}
h2 {
  color: var(--uproot-highlight-color) !important;
  font-weight: 700 !important;
  letter-spacing: 0.0075em !important;
}
h3 {
  font-weight: 700 !important;
  letter-spacing: 0.0075em !important;
}

.admonition,
.md-typeset__table table {
  border-width: 1px !important;
}

/* Harmonize border-radius across elements */
.admonition,
.cards li,
.md-code__content,
.md-button,
.md-typeset__table table {
  border-radius: 5px !important;
}

.card-title-icon {
  float: right;
  padding-top: 0.25em;
}

.md-content__inner {
  padding-top: 0.25em;
}

.md-footer {
  margin-top: 3em;
}

.md-nav__link {
  color: var(--md-default-fg-color--light);
  font-size: smaller;
}
.md-nav__title:not([for="__drawer"]), label.md-nav__link {
  color: var(--uproot-highlight-color) !important;
  font-size: 90% !important;
}

/* Reduce line height of body text sligtly (1.6 originally) */
.md-typeset {
  line-height: 1.5 !important;
}
@media (min-width: 960px) {
  .md-typeset {
    line-height: 1.55 !important;
  }
}

/* Disable increase of font size at 2000px break point */
@media (min-width: 2000px) {
  .md-typeset {
    font-size: 0.7333rem !important;
  }
}
